.ListItem {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    list-style: none;
}

  .toDoItemsList {
    list-style: none;
    display: flex;
    flex-direction: column;
     font-size: 32px;
     
  }

  .todo {
    display: flex;
    align-items:flex-start ;

    justify-content: space-between;
    opacity: 0.95;
    width: 440px;
    margin: 0.5em 1.3em 0.5em 0em;
   
  }

 

  .taskControls button i {
    font-size: 25px;  
  }